body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body p{
    color: dimgray;
}
section{
    margin-bottom: 50px;
}
.seventy-width{
    width: 60%;
    padding-top: 100px;
    padding-right: 50px;
}
.thirty-width{
    width: 30%;
}
.thirty-width img{
    width: 100%;
    margin-right: 100px;
}
.flexible{
    display: flex;
}
.heading{
    border-left: 5px solid #FF5959;
    border-image-slice: 1;
    font-size: 30px;
}
.yellow-text{
    color:#FFAD5A;
}
.red-button{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
}
.focus-area{
    margin-left: 50px;
}
.heading h1{
    font-size: 50px;
    font-family: 'Yeseva One', cursive;
}
.mission-part h1{
    text-align: center;
    font-weight:bolder;
}
h1{
    font-size: 40px;
}
.mission-part h3{
    font-size: 20px;
}
.one-third-width{
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.mission-background{
    background-color: #4f9da63b;
}
.vision-background{
    background-color: #ff59593a;
}
.goal-background{
    background-color: #fff4d63d;
}
.one-third-width img{
    width: 200px;
}
.mission-part .flexible{
    margin-left: 20px;
}
h2{
    font-size: 30px;
}
.develop-content{
    padding-left: 200px;
    
}
.develop-part img{
    margin-left: 100px;
    width: 90%;
    padding-top: 80px;
}
.develop-part{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
}
.community-content{
    margin-left: 100px;
}
.community-part img{
    padding-right: 200px;
    width: 90%;
    padding-top: 80px;
}
.community-part{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: bottom right;
}
.contact-part h1{
    text-align: center;
    font-size: 40px;
}
.half-width{
    width: 50%;
    margin: 10px 50px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.377);
    padding: 50px 0;
    border-radius: 10px;
}
.contact-title{
    border-bottom: 5px solid #FF5959;
    border-image-slice: 1;
}
.contact-part img{
    width: 10%;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}
.red-text{
    color: #FF5959;
}
footer h3{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}